{% extends 'admin/layouts/base_admin.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/pages/metadata.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>🎓 Chỉnh Sửa Trường Đại Học</h2>
    
    <form action="/admin/universities/edit/{{ university.id }}" method="POST" class="metadata-form">
        <div class="form-group">
            <label>Mã Trường Đại Học</label>
            <input type="text" name="id" value="{{ university.id }}" readonly class="readonly">
        </div>
        <div class="form-group">
            <label>Tên trường đại học</label>
            <input type="text" name="name" value="{{ university.name }}" required placeholder="Nhập tên trường đại học...">
        </div>
        
        <div class="form-actions">
            <button type="submit" class="btn-save">Cập nhật</button>
            <a href="/admin/universities" class="btn-cancel">Hủy bỏ</a>
        </div>
    </form>
</div>
{% endblock %}
