<aside class="sidebar" id="sidebar">

    <ul class="menu">
        <li><a href="/admin"><i class="fa fa-home"></i> Dashboard</a></li>

        <li class="menu-title">Quản lý tài liệu</li>
        <li><a href="/admin/books"><i class="fa fa-book"></i> Books</a></li>
        <li><a href="/admin/articles"><i class="fa fa-newspaper"></i> Articles</a></li>
        <li><a href="/admin/thesis"><i class="fa fa-graduation-cap"></i> Thesis</a></li>

        <li class="menu-title">Khác</li>
        <li><a href="/admin/authors"><i class="fa fa-user"></i> Authors</a></li>
        <li><a href="/admin/topics"><i class="fa fa-tags"></i> Topics</a></li>
    </ul>

    <!-- NÚT BÊN DƯỚI -->
    <div class="sidebar-footer">
        <a href="/" class="back-home">
            <i class="fa fa-arrow-left"></i> Trang chủ
        </a>
    </div>

</aside>