{% extends 'admin/layouts/base_admin.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/pages/subject/index.css') }}">
{% endblock %}

{% block content %}

<section class="doc-container">

    <!-- HEADER -->
    <div class="doc-header">
        <div>
            <h2>🏷 Subjects</h2>
            <p class="doc-count">Total: {{ subjects|length }} subjects</p>
        </div>

        <a href="/admin/subjects/create" class="btn-add">
            ➕ Add
        </a>
    </div>

    <!-- TABLE -->
    <div class="doc-table-card">
        <table class="doc-table">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% if subjects %}
                    {% for s in subjects %}
                    <tr>
                        <td>{{ s.name }}</td>
                        <td class="actions">
                            <a href="/admin/subjects/delete/{{ s.id }}"
                               class="btn-delete"
                               onclick="return confirm('Delete subject?')">
                               Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">No data</td>
                    </tr>
                {% endif %}
            </tbody>

        </table>

        <!-- PAGINATION -->
        {% include "admin/components/pagination.html" %}

    </div>

</section>

{% endblock %}