{% extends 'admin/layouts/base_admin.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/pages/subject/index.css') }}">
{% endblock %}

{% block content %}
<div class="subject-container">

    <div class="header">
        <h2>🏷 Subjects</h2>
        <a href="/admin/subjects/create" class="btn-add">➕ Add</a>
    </div>

    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody id="subjectTable"></tbody>
        </table>
    </div>

</div>

<script src="{{ url_for('static', filename='js/admin/pages/subject.js') }}"></script>
{% endblock %}