{% extends 'admin/layouts/base_admin.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/books/book_detail.css') }}">
{% endblock %}

{% block content %}

<div class="admin-detail">

    <div class="detail-header">
        <h1>👁 Chi tiết sách</h1>

        <a href="/admin/books/edit/{{ book.id }}" class="btn btn-edit">
            ✏️ Chỉnh sửa
        </a>
    </div>

    {% include 'shared/books/detail_content.html' %}

</div>

{% endblock %}

{% block scripts %}
<script>
    const graphData = JSON.parse('{{ graph_data | tojson | safe }}');
</script>
<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script src="{{ url_for('static', filename='js/pages/book_detail.js') }}"></script>
{% endblock %}